{% extends "base.html" %}

{% block styles %}
<style>
    h1 {
            text-align: center;
        }
    .user_a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border: solid black ;
        border-radius: 9px;
        background-image: linear-gradient(to right,#000428 , #004e92);
        color: aliceblue;
        margin: 50px 50px;
        width: 90px;
        height: 60px;
    }
    .user_a:hover{
        background-image: linear-gradient(to right,#2193b0,#6dd5ed);
    }
    .user_p{
        display: flex;
        justify-content:center;
    }
    </style>
{% endblock %}
`
{% block content %}
    <h1>Welcome to Real Estate Solutions</h1>
    <p class="user_p"><a class="user_a" href="{{ url_for('login') }}">Login</a> <a class="user_a" href="{{ url_for('signup') }}">Signup</a></p>
{% endblock %}