{% extends "base.html" %}

{% block content %}

  <h2 style="text-align: center;">Signup</h2>
  <div class="d-flex justify-content-center" style="height: 100vh; overflow-y: auto;">
    <form method="post" style="width: 400px;">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Signup</button>
        <p style="margin-top: 10px;">Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
      </div>
    </form>
  </div>
{% endblock %}
